li {
  list-style: none;
  margin-bottom: 15px;
  padding: 5px 0;
  width: 200px;
  border: 1px solid transparent;
}

li:hover {
  border: 1px solid black;
  border-left: none;
}

.badge {
  width: 30px;
  padding: 5px;
  background-color: palegoldenrod;
  border: 1px solid aquamarine;
  color: black;
}

.selected {
    background: palegoldenrod;
}
